<h1>About Me</h1>

<p>
  I don't know what I should write here. Does this go on the same line? Yes it does.
</p>

<p>
  This doesn't, though.
</p>

<p>
  I should probably include a list of skills and interests. Something looking kinda like this:
</p>

<h3>Languages</h3>
<ul>
  <li>Python</li>
  <li>Java</li>
  <li>JavaScript</li>
  <li>HTML</li>
  <li>CSS</li>
</ul>

<h3>Interests</h3>
<ul>
  <li>Data! I like the number</li>
  <li>Bioinformatics is really cool, I don't think I know enough about biology, though</li>
  <li>Computational Mathematics, probably the same but with math</li>
  <li>Open Source stuff is very cool.</li>
  <li>Analyzing my Spotify Data</li>
</ul>

<h3>Databases</h3>
<ul>
  <li>MongoDB</li>
  <li>MySQL</li>
  <li>SQLite</li>
  <li>PostgreSQL</li>
</ul>
