<footer class="text-center text-md-start bg-light text-muted">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <p>
            <i class="fas fa-home me-2"></i>
            St. Paul, MN 55116, US
          </p>
        </div>
        <div class="col-md">
          <p>
            <i class="fas fa-envelope me-2"></i>
            conor@johngregg.org
          </p>
        </div>
        <div class="col-md">
          <p>
            <i class="fas fa-phone me-2"></i>
            (651) 219-8389
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
